.profileRooms{
    display: flex;
    flex-direction: column;
}

button {
    width: fit-content;
}

.roomsNoData{
    justify-content: center;
    display: flex;
    margin-top: 80px;
}

table, th, td{
    border: lightgray 1px solid;
}