.hotelMgmtContainer{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.hotelsNoData{
    justify-content: center;
    display: flex;
    margin-top: 100px;
}