.savedHotelsContainer{
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.savedHotelsNoData{
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}